.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DisplayCollection{
/* background-image: url("https://wallpapercave.com/wp/1y38L0L.jpg"); */
background-color: rgb(2, 70, 61);
/* background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 50px 50px;
height: 100%;
width: 100%; */
background-position: center;
display: flex;
align-items: center;
justify-content: center;
/* padding: 50px; */        
}

.art-posts > img {
  max-width: 80%;
  border: 20px groove rgba(165, 126, 28, 0.952);
  box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.34);
  margin-bottom: 10px;
}
.post-year{
  font-size: 14px;
}
.art-posts{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  margin-left: 70px;
  margin-right: 35px;
  margin-top: 100px;
  font-variant: small-caps;

}
.art-details-container > p{
  margin: 2px;
}
.art-details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display:none; */
}
.edit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  diplay:none;
  border: 1px solid black;
  width: 50%;
  background-color: rgba(173, 173, 173, 0.657);

}
.edit-form > button{
  margin:3px;
  border: 3px groove rgba(144, 110, 23, 0.753);
  background: rgba(214, 128, 128, 0.246);
}

.hide-edit-form{
  display:none;
}
.close-edit-button{
  background-color: transparent;
  font-family: sans-serif;
  /* outline: none; */
  border:none;
  padding: 1px;
  padding-right: 2px;
  border-radius: 2px;
  outline: none;
}
.hide-close-edit-button{
  display:none;
}

.hide-post-details{
  display:none;
}
.art-titles{
  font-style: italic;
  font-size: 17px;
  font-variant: small-caps;
}

.DisplayCollection{
  display: flex;
  flex-wrap: wrap;
}
.Header{
  position: absolute;
  top: 0;
  padding: 10px;
  /* border:1px solid; */
}
.header-title{
  font-style: initial;
  font-family: cursive;
  font-size: 50px;
  color: rgb(179, 148, 69);
}

.submit-art-button{
  display: flex;
  position: absolute;
  top: 25px;
  right:25px;

  padding: 10px;
  border: 4px groove rgb(179, 148, 69);
  background-color: rgba(148, 148, 148, 0.082);
  font-family: sans-serif;
  outline: none;
}

.artHidden{
  display:none
}

.artDropdown{
  position: fixed;
  top: 5%;
  right: 1%;
  width: 250px;
  height: 30%;
  background-color: rgba(173, 173, 173, 0.657);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif;
  padding: 4px;
  box-sizing: border-box;
  contain: strict;
  border: 7px groove rgb(179, 148, 69);
  padding-top:10px;
}

.art-form{
max-width: 100%;
width: 220px;
margin-right: 10px;
}

button{
  outline:none;
}
button:hover{
  cursor: pointer;
  color: rgb(144, 110, 23);
}

.art-form > input{
  margin-top: 5px;
  max-width: 100%;
  width: 100%;
  height: 25px;
  border: 2px groove rgba(144, 110, 23, 0.753);
  color: rgba(144, 110, 23);
  font-weight: 400;
  }

.art-form > button{
  margin-top: 10px;
  margin-left: 26.24px;
  border: 3px groove rgba(144, 110, 23, 0.753);
  background: rgba(214, 128, 128, 0.582);

}

.close-button{
  margin-left: 187px;
  margin-bottom:7px;
  background-color: transparent;
  font-family: sans-serif;
  /* outline: none; */
  border:none;
  padding: 1px;
  padding-right: 2px;
  border-radius: 2px;
  outline:none;
}

.input-description{
  height: 50px;
   width: 5px;
}

.submit-art-button:hover{
  cursor: pointer;
  color: rgb(144, 110, 23);
}

.message-board{
  position: absolute;
  top:5%;
  left:.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  height: 500px;
  /* border: 2px solid black; */
  width: 285px;
  border: 7px groove rgb(179, 148, 69);
  background-color: rgba(173, 173, 173, 0.657);
  padding: 3px;
  

}

.comments-displayed{
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-direction: column;
  border: 1px groove rgb(179, 148, 69);
  margin-bottom: 7px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.281);
}

.commentor-name{
  font-weight: bold;
  /* margin-bottom: ; */
}
.commentform-container{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 280px;
  border: none;
  
}
.form-comment-container{
  border: none;

  display: flex;
  height: 0%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding:5px;
  font-family: monospace;
}

.name-input{
  width: 20%;
  margin:2px;
  font-family: monospace;
  border: 2px groove rgba(144, 110, 23, 0.753);
  color: rgba(144, 110, 23);
  font-weight: 400;
}
.comment-input{
  width: 80%;
  margin:2px;
  font-family: monospace;
  border: 2px groove rgba(144, 110, 23, 0.753);
  color: rgba(144, 110, 23);
  font-weight: 400;
 /* height: 20px; */

}

.edit-form > input{
  border: 2px groove rgba(144, 110, 23, 0.753);
  color: rgba(144, 110, 23);
  margin: 2px;
}
.submit-comment-button{
  position: relative;
  right:0px;
  margin:2px;
  font-family: monospace;
  border: 3px groove rgba(144, 110, 23, 0.753);
  background: rgba(214, 128, 128, 0.582);
  outline:none;
}

.commentor-comments{
  margin-bottom: 1px;
  margin-left: 20px;
}

.delete-comment{
  outline: none;
  background: none;
  border: none;
  font-size: 10px;
  height: 15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  padding: 1px;
  margin-right: 2px;
  position: absolute;
  right: 5px;
}
/* .delete-comment:hover{
  color: white;
}

.edit-comment:hover{
  color: white;
} */

.edit-comment{
  outline: none;
  background: none;
  border: none;
  font-size: 10px;
  height: 15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /* padding: 1px; */

  /* position: absolute; */
  /* right: 35px; */
}

.hide-edit-button{
  display: none;
}

.comments-hidden{
  display:none;
}

.open-message-board-button{
  display: flex;
  position: absolute;
  top: 25px;
  left:25px;

  padding: 10px;
  border: 4px groove rgb(179, 148, 69);
  background-color: rgba(148, 148, 148, 0.082);
  font-family: sans-serif;
  outline: none;
}
.edit-container{
  display: flex;
}
.edit-button{
  padding: 0px;
  border: none;
  background-color: transparent;
  font-family: sans-serif;
  outline: none;
  display: flex;
  position: relative;
  margin-top:3px;
  font-size: 12px;
  font-variant: small-caps;
  /* right: -130px;  */

}
.close-messages{
  background-color: transparent;
  font-family: sans-serif;
  
  border: none;
  padding: 1px;
  padding-right: 2px;
  border-radius: 2px;
  position: relative;
  left: 240px;
  margin-bottom: 10px;
  outline: none;
  width: 50px;
}

.close-messages:hover{
  color:white
}

.hide-submit-button{
  display: none;
}